# Python virtual environment
.venv/
venv/

# Python cache files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings (optional)
.vscode/

# Logs
*.log

# IDE specific (e.g., PyCharm)
.idea/

# MacOS
.DS_Store
